       {% load static %}
       {% block title %} Авторизация {% endblock %}

        {% block css_additional %}
             <link rel="stylesheet" href="{% static 'css/login.css' %}">
        {% endblock %}

{% block content %}
<div class="login">
	<h1>Login</h1>
    <form method="post" action='{% url "users:login" %}'>
                                    {% csrf_token %}
    	<input type="text" name="username" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="gradient-button">Войти</button>
        <p></p>
        <a href="{% url 'users:register' %}"
        <button type="submit" class="gradient-button">Зарегистрироваться</button></a>

    </form>
</div>

{% endblock %}

{% block footer %} {% endblock %}
